/* CSS declarations go here */
* {
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#canvas {
  display: block;
  width: 100%;
  position: left;
}

.container {
    height: 80%;
    width: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}